# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/.idea
/.vscode
# testing
/coverage

# production
/dist

# package-lock
package-lock.json

example.js