// Colors

// Main Colors
$secondary-error: #F83371;
$secondary-green: #0FBE98;
$primary: #1e1e1e;
$secondary: #f83371;


//Text Colors
$body-text: #727682;
$headllines: #1a051d;
$light-text: #ADAFB6;

// Body Colors
$border-default: #E8E8E8;
$border-active: #CBD1E0;

// Alters
$success: #0fbe98;
$error: #FC4B4D;
$warning: #fec740;

// Neutral colors

$neutral-one: #ecebed;
$neutral-two: #d0c9d6;
$neutral-three: #ecebed;


// Breakpoints for adaptive layout

$sm : 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;