.social-networks-abs {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 175px;
  justify-content: space-between;
  left: -6%;
  .net-abs {
    display: block;
    width: 38px;
    height: 38px;
    background-color: #0fbe98;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
